<!doctype html>
<html lang="en">

<head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content=" nextreflexes.com, next reflex,Genuine Reflexology Center, Reflexology In Kigali, Massage in Kigali, Physiotherapy in KIgali Rwanda">
    
    <title>Genuene Reflexology Center</title>
    <meta name="keyword" content=" nextreflexes.com, next reflex,Genuine Reflexology Center, Reflexology In Kigali, Massage in Kigali, Physiotherapy in KIgali Rwanda">
    <meta name="author" content="WrapTheme, design by: Emmanuel NTIVUGURUZWA">
    <link rel="shortcut icon" href="/images/icons/icon-48x48.png" />
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
</head>

<body>

    <!--Nav Bar-->
    <nav class="navbar navbar-expand-lg nav-back fixed-top" id="nav">
        <div class="container">
            <a href="#" class="navbar-brand">Genuine Reflexology <br>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Center</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars fa-2x"></i>
            </button>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a href="#services" class="nav-link">Services</a>
                    </li>

                    <li class="nav-item">
                        <a href="#about" class="nav-link">About</a>
                    </li>

                    <li class="nav-item">
                        <a href="#camp" class="nav-link">Video Lesson</a>
                    </li>

                    <li class="nav-item">
                        <a href="#team" class="nav-link">Team</a>
                    </li>

                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="/authentication" class="nav-link">Registar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--End of Nav Bar-->

    <!-- Hero Image-->
    <section id="hero" class="d-flex align-items-center">
        <div class="container text-center position-relative">
            <h1>24/7 Care is Avalable</h1>
            <h2 class="text-uppercase">We are Here For You </h2>
            <a href="#about" class="main-btn">Know Us</a>
        </div>
    </section>
    <!--   End of Hero Image -->

    {{#if message}}
    <div style="text-align: center" class="alert alert-{{message.type}}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{message.intro}}</strong> {{message.message}}
    </div>
    {{/if}}

    <!--    Service-->
    <Section id="services" class="services mt-5 mb-3 py-3">
        <div class="container">
            <div class="section-title">
                <h2 class="text-center">Services</h2>
                <p>In this platform you‘ll find practical videos of reflexology sessions on different ailments..throughout 13 years we’ve been conducting research on different cases and we've got interesting discoveries in reflexology that you’ll never find
                    anyhwere else</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="service shadow">
                        <div class="icon">
                            <i class="fas fa-tooth"></i>
                        </div>
                        <h4>Massage</h4>
                        <p>It is believed that a good massage will balance one’s entire system and thus create a relaxant mood which then turns one’s vital organs to be steady and healthy. We are not interested just in offering you a genuine massage but also teaching you how you can do it for your family and friends in need.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="service shadow">
                        <div class="icon">
                            <i class="fas fa-lungs"></i>
                        </div>
                        <h4>Reflexology Sessions</h4>
                        <p>In this 13 years we have received more than 11689 patients with different suckness and we did treat them with reflexology only.. it has been stated internationally that a reflexology treatment should not exceed 45mins per session
                            and it should not hurt. But, you’ll be surprised that those statements that been made are a hindrance to a genuine reflexology treatment.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="service shadow">
                        <div class="icon">
                            <i class="fas fa-heart"></i>
                        </div>
                        <h4>Reflexology Experiment</h4>
                        <p>In our research we did find that a patient with Inborn genetic diseases should not be treated below 2 hours per session and he/she should cop up with pain in the middle of treatment if he or she wants to be cured in a few days</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-5">
                    <div class="service shadow">
                        <div class="icon">
                            <i class="fas fa-dna"></i>
                        </div>
                        <h4>Myth about Reflexology</h4>
                        <p>You’ve always been told that reflexology is only for relieving stress, brain tensions, blood flow, and cancer patient under chemotherapy and it just for helping them to have a calm and positive mind. They did lie to you.. Reflexology is more than that</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-5">
                    <div class="service shadow">
                        <div class="icon">
                            <i class="fas fa-video"></i>
                        </div>
                        <h4>Video Session</h4>
                        <p>As you’ll be watching practical videos you’ll discover yourself that no other kind of treatment in the world can surpass reflexology in treatment of diseases. Because with reflexology you can treat 95% of ailments and diseases.
                            And through our series of videos you are about to access you’ll understand this by yourself</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-5">
                    <div class="service shadow">
                        <div class="icon">
                            <i class="fas fa-allergies"></i>
                        </div>
                        <h4>Home Care Reflexology</h4>
                        <p>We do offer reflexology services to the older people above 65 years in their Homes. It has been found that aged people as they body system keeps being awakened as they grow older,.. there is a constant need of physiology treatment.. thus in this practical videos we also want to share you how you can help your grandma or grandpa by doing a reflexology treatment and a genuine massage to them</p>
                    </div>
                </div>
            </div>
        </div>
    </Section>
    <!--  End of Service-->

    <!--  About Section-->

    <section class="about-section clearfix py-5" id="about">
        <div class="container">
            <div class="about">
                <img src="/images/office.jpeg" class="about-img img-fluid mb-3 mb-lg-0 rounded" alt="about">
                <div class="about-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="about-heading mb-4">
                        <span class="about-heading-upper">Welcome</span>
                        <span class="about-heading-lower">To Our Hospital</span>
                    </h2>
                    <p class="mb-3">As you’ll be watching practical videos you’ll discover yourself that no other kind of treatment in the world can surpass reflexology in treatment of diseases. Because with reflexology you can treat 95% of ailments and diseases. And
                        through our series of videos you are about to access you’ll understand this by yourself
                    </p>
                    <div class="about-button mx-auto">
                        <a href="#" class="btn btn-color btn-lg">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END OF ABOUT SECTION-->

    <!--  VIDEO Lesson SECTION-->
    <section class="camp" id="camp">
        <div class="container text-center">
            <h1 class="py-3">Video Lesson</h1>
            <p>In this 13 years we have received more than 11689 patients with different sickness and we did treat them with reflexology only.. it has been stated internationally that a reflexology treatment should not exceed 45mins per session and it should
                not hurt. But, you’ll be surprised that those statements that been made are a hindrance to a genuine reflexology treatment. As you’ll be watching practical videos you’ll discover yourself that no other kind of treatment in the world can
                surpass reflexology in treatment of diseases. Because with reflexology you can treat 95% of ailments and diseases. And through our series of videos you are about to access you’ll understand this by yourself</p>
        </div>
        <div class="camp-grid">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                        <img src="/images/videoPage/Reflexology1.png" alt="">
                        <a href="/wortch-Video">
                            <div class="camp-text">
                                <div>
                                    <h3 class="card-title">Massage</h3>
                                    <p class="card-text">Learn how to do reflexology</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                        <img src="/images/withJunior.jpeg" alt="">
                        <a href="/wortch-Video">
                            <div class="camp-text">
                                <div>
                                    <h3 class="card-title">Reflexology</h3>
                                    <p class="card-text">Learn how to do reflexology</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                        <img src="/images/videoPage/Reflexology1.png" alt="">
                        <a href="/wortch-Video">
                            <div class="camp-text">
                                <div>
                                    <h3 class="card-title">Reflexology</h3>
                                    <p class="card-text">Learn how to do reflexology</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                        <img src="/images/withJuniour2.jpeg" alt="">
                        <a href="/wortch-Video">
                            <div class="camp-text">
                                <div>
                                    <h3 class="card-title">Reflexology</h3>
                                    <p class="card-text">Learn how to do reflexology</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                        <img src="/images/videoPage/Reflexology3.jpg" alt="">
                        <a href="/wortch-Video">
                            <div class="camp-text">
                                <div>
                                    <h3 class="card-title">Reflexology</h3>
                                    <p class="card-text">Learn how to do reflexology</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                        <img src="/images/videoPage/Reflexology2.jpg" alt="">
                        <a href="/wortch-Video">
                            <div class="camp-text">
                                <div>
                                    <h3 class="card-title">Reflexology</h3>
                                    <p class="card-text">Learn how to do reflexology</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                        <img src="/images/videoPage/Reflexology3.jpg" alt="">
                        <a href="/wortch-Video">
                            <div class="camp-text">
                                <div>
                                    <h3 class="card-title">Reflexology</h3>
                                    <p class="card-text">Learn how to do reflexology</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                        <img src="/images/videoPage/Reflexology2.jpg" alt="">
                        <a href="/wortch-Video">
                            <div class="camp-text">
                                <div>
                                    <h3 class="card-title">Reflexology</h3>
                                    <p class="card-text">Learn how to do reflexology</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END OF  CAMPS SECTION -->


    <!-- TEAM SECTION -->
    <section class="team mt-5" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title">
                        <h2>Our Team</h2>
                        <p>Dear Customer we are here for you if you have any quetion you can contact us by using one of our social media or by calling one of the staff Member</p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="member">
                                <div class="image">
                                    <img src="/images/videoPage/ceo.jpeg" class="img-fluid" alt="">
                                </div>
                                <div class="info">
                                    <h4>Gad KIRENGA</h4>
                                    <span>Executive Officer</span>
                                    <p>Your Life is Our Concern</p>
                                    <div class="social">
                                        <a href="#">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!---->

                        <div class="col-lg-6 mt-4 mt-lg-3">
                            <div class="member">
                                <div class="image">
                                    <img src="/images/videoPage/ChiefOperations.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="info">
                                    <h4>Ester MUKANTWARI</h4>
                                    <span>Chief Operation</span>
                                    <p>Your Life is Our Sacrifice</p>
                                    <div class="social">
                                        <a href="#">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mt-4 mt-lg-3">
                            <div class="member">
                                <div class="image">
                                    <img src="/images/videoPage/assistantadministrator.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="info">
                                    <h4>Elyse NTABUGI</h4>
                                    <span>Assistant Administrator</span>
                                    <p>Your limitation is your imagination</p>
                                    <div class="social">
                                        <a href="#">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 mt-4 mt-lg-3">
                            <div class="member">
                                <div class="image">
                                    <img src="/images/videoPage/default.png" class="img-fluid" alt="">
                                </div>
                                <div class="info">
                                    <h4>Jacky AMBAZA</h4>
                                    <span>Manager</span>
                                    <p>Incurable diseases is a myth</p>
                                    <div class="social">
                                        <a href="#">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mt-4 mt-lg-3">
                            <div class="member">
                                <div class="image">
                                    <img src="/images/profile1.jpeg" class="img-fluid" alt="">
                                </div>
                                <div class="info">
                                    <h4>Emmanuel NTIVUGURUZWA</h4>
                                    <span>IT Manager</span>
                                    <p>With God Nothing isn't Imposible Just work Had </p>
                                    <div class="social">
                                        <a href="https://www.facebook.com/DJ.0788596281.MasterM">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                        <a href="https://twitter.com/__devemm">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="https://www.instagram.com/__devemm/">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a href="https://www.linkedin.com/in/ntivuguruzwa-emmanuel/">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mt-4 mt-lg-3">
                            <div class="member">
                                <div class="image">
                                    <img src="/images/HirwaDidonc.jpeg" class="img-fluid" alt="">
                                </div>
                                <div class="info">
                                    <h4>Didonc HIRWA</h4>
                                    <span>Assistant Manager</span>
                                    <p>Your limitation is your imagination</p>
                                    <div class="social">
                                        <a href="#">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mt-4 mt-lg-3">
                            <div class="member">
                                <div class="image">
                                    <img src="/images/videoPage/default.png" class="img-fluid" alt="">
                                </div>
                                <div class="info">
                                    <h4>Julliete MUKANDORI</h4>
                                    <span>Receptionist</span>
                                    <p>Your Life is Our Concern</p>
                                    <div class="social">
                                        <a href="#">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mt-4 mt-lg-3">
                            <div class="member">
                                <div class="image">
                                    <img src="/images/team.jpeg" class="img-fluid" alt="">
                                </div>
                                <div class="info">
                                    <h4>Staff Members</h4>
                                    <span>Our Team</span>
                                    <p>Your Life is Our Sacrifice</p>
                                    <div class="social">
                                        <a href="#">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- END OF TEAM SECTION -->
    <!-- CONTACT SECTION -->
    <section class="contact" id="contact">
        <div class="container">
            <div class="section-title text-center mt-5">
                <h2>Contact</h2>
                <p></p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-box">
                                <i class="fas fa-map-signs"></i>
                                <h3>Address</h3>
                                <p>Kigali Rwanda zip code: 4534</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-box mt-4">
                                <i class="fas fa-envelope"></i>
                                <h3>Email</h3>
                                <p>info@nextreflexe.com
                                    <br>contact@nextreflexe.com
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-box mt-4">
                                <i class="fas fa-phone"></i>
                                <h3>Call Us</h3>
                                {{!--
                                <p>+250 788 596 281<br>+250 788 596 281</p> --}}
                                <p><a href="tel:+250788539893"><span class="icon icon-phone"></span><span class="text">+250 788 539 893</span></a><br><a href="tel:+250788502223"><span class="icon icon-phone"></span><span class="text">+250 788 502 223</span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form method="POST" action="/contactus">
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Name" Required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" Required>
                            </div>
                        </div>


                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" placeholder="Subject" Required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" rows="5" placeholder="Message" Required></textarea>
                        </div>

                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- END OF CONTACT SECTION -->

    <!-- FOOTER SECTION -->

    <section class="footer py-4 mt-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-left">
                    <i class="fa fa-copyright" aria-hidden="true"></i> Copyright &copy; nextreflexes2020
                </div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a href="#" class="btn btn-back btn-social mx-2">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" class="btn btn-back btn-social mx-2">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="btn btn-back btn-social mx-2">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" class="btn btn-back btn-social mx-2">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
                <div class="col-lg-4 text-lg-right">
                    <a href="#" class="mr-3 text">Privacy Policy</a>
                    <a href="#" class="text">Term of Use</a>
                </div>
            </div>
        </div>
    </section>
    <!-- END OF FOOTER SECTION -->




























    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




    {{!--
    <script src="/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> --}}



</body>

</html>